* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::selection {
  background-color: black;
  color: red;
}

html,
body {
  height: 100%;
  width: 100%;
}
#one {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1vw;
  padding-top: 20vh;
}

#one h1 {
  font-size: 15vw;
  text-transform: uppercase;
  font-family: futura;
  line-height: 17vw;
  letter-spacing: -8px;
}

#video-con {
  height: 100vh;
  width: 100%;
  background-color: grey;
  margin-top: 1vw;
  position: relative;
}
#video-con video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-con #play {
  padding: 2vw 1.5vw;
  background-color: #000;
  color: white;
  font-size: 1vw;
  position: fixed;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0;
  scale: 0;
  transform: translate(-50%, -50%);
}

#two {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0vw 1vw;
  justify-content: space-between;
  /* background-color: #000; */
}

#two .elem {
  height: 100%;
  width: 31%;
  /* background-color: red; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  z-index: 9;
  height: 40px;
  width: 60%;
  border-radius:0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  overflow: hidden;
  padding:0% 5%;
  color: rgba(255, 255, 255, 0.549);
  transition-timing-function: linear;
  transition: height .6s ease-in-out;
  border: 1px solid white;
  

  /* transform: translate(-50%, -50%); */
}
.details:hover {
  position: absolute;
  height: 34%;
  overflow: auto;
  border-radius: 0px;

}

#two .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;

}
